@keyframes fadeIn 
{ 
  from 
  { 
    opacity:0; 
  } 
  to 
  { 
    opacity:1; 
  } 
}

* {
    box-sizing: border-box;
}

body {
  font-family: 'Coolvetica', sans-serif;
  background-color: #57078E;
  font-size: 17.5px;
  color: #ffffff;
}

.column {
    float: left;
    width: 50%
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
  text-align: center;
  font-size: 2em;
  opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:0.5s;
    animation-delay: 0.5s;
}

.bullets {
  font-size: 0.85em;
}

ul > ul {
  margin-left: 5%;
}

p {
  opacity:0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:0.5s;
  animation-delay: 1.0s;
}

ul {
  //margin-left: -2vw;
  opacity:0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:0.5s;
  animation-delay: 1.5s;
}

li {
  margin: 2px 0;
}

a:hover {
  color: #000;  
  transition:.5s;
}

a img:hover{
    filter: invert(100%);
    transition:.5s;
}

#flipped {
  opacity:0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:1.0s;
  animation-delay: 2.0s;
}

#flipped:hover{
  filter: invert(100%);
  transition:.5s;
}

a {
  color: #ffffff;
  transition:.5s;
}

a img{
  padding: 5px;
  transition:.5s;
}

.icons {

}

.description {
  width: 65%;
}

.video-container {
  display: flex;
  flex-direction: : row;
  width: 100%;
  height: 56%;
  justify-content: space-between;
  justify-content: center;
}
.vidcolumn{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  border: 1px;
  margin: 5px;

}

.vidcolumn iframe{
  height: 300px;
}

